<div class="attribute-circle-ui">
    <ul class="circle-affinities">
        <li>
            <h3>Element</h3>
        </li>
        <li class="circle-affinity">
            <a>
                <i class = "fas fa-check"></i>
            </a>
            <h4>Dark</h4>
        </li>
        <li class="circle-affinity">
            <a>
                <i class = "fas fa-check"></i>
            </a>
            <h4>Chaos</h4>
        </li>
        <li>
            <h3>Medium</h3>
        </li>
        <li class="circle-affinity">
            <a>
                <i class = "fas fa-check"></i>
            </a>
            <h4>Self</h4>
        </li>
    </ul>
</div>