{{! This template defines the HTML Naviation bar UI that's inserted into the sheet in the Tidy5e nav bar.}}
{{!It uses the following data:
    - navLinkState: a string, the class of the link. This is used to identify the tab in the CSS.}}
<a class="{{navLinkState}}" data-tab="circles">Circles</a>